*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.capture {
    user-select: auto;
    -webkit-user-drag: auto;
    -webkit-touch-callout: default;
  }
.mainContainer{
    width: 100vw;
    height: calc(var(--nvh)*100);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgInserted{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.backgroundImgs{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.background05{
    width: 100%;
    height: 100%;

    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
}
.background14{
    width: 100%;
    height: 100%;
    
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page{
    aspect-ratio: 440/956;
    width: 100vw;
    height: auto;
  
    
    max-width: calc(100vh * (440 / 956));
    max-height: calc(var(--nvh)*100);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
}
.page0{
    
    background-size: cover;
    background-position: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.page1-4{

    background-size: cover;
    background-position: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.page5{

    background-size: cover;
    background-position: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.captureArea{
    
    background-size: cover;
    background-position: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    z-index: -1;
}
.captureContainer{
    aspect-ratio: 440/956;
    width: 100vw;
    height: auto;
  
    
    max-width: calc(100vh * (440 / 956));
    max-height: calc(var(--nvh)*100);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
}
.captureContents{
    
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    
    width: calc(399/440 * 100%);
    height: calc(139/956 * 100%);
    position: absolute;
    top: calc(77/956 * 100%);
    background-size: contain;
    background-color: transparent;
    background-position: center;
}
.firstRio{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-color: transparent;
    background-position: center;
    width: calc(284/440 * 100%);
    height: calc(373/956 * 100%);
    position: absolute;
    top: calc(253/956 * 100%);
    border: none;
}
.firstInfo{
   
    background-size: contain;
    background-color: transparent;
    background-position: center;
    width: calc(242/440 * 100%);
    height: calc(49/956 * 100%);
    position: absolute;
    top: calc(851/956 * 100%);
    border: none;
}
.rio{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    width: 100%;
    height: calc(493/956 * 100%);
    position: absolute;
    top: calc(209/956 *100%);
    z-index: 1;
}
.enterNameDiv{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: calc(261/440 *100%);   
    height: calc(75/956 *100%);
    background-color: transparent;
    border: none;
    position: absolute;
    top: calc(663/956 *100%);
    outline: none;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    
}
.enterName{
    font-size: 20px;
    margin-left: 30%;
    height: 65%;
    width: 50%;
    margin-left: -67%;
    border-width: 0px;
    background-color: transparent;
    font-family: 'Romance';
    color: #d73e8a;
}
.startbutton{
    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: calc(261/440 *100%);
    height: calc(92/956 *100%);
    background-color: transparent;
    border: none;
    position: absolute;
    top: calc(744/956 * 100%);
}
.dressButtons{
    display: flex;
    flex-direction: row;    
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: calc(110/956 * 100%);
    position: absolute;
    top: calc(730/956 *100%);
    background-color: transparent;
    border: none;
    outline: none;
    border-width: 0px;
    justify-content: space-evenly;
}
.options{   
    background-color: transparent;
    background-position: center;
    border-width: 0px;
    background-size: cover;
    width: 25%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.optionsT{
    width: 40%;
}
.options img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}
.prevButton{
    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    width: calc(130/440 *100%);
    height: 100%;
}
.nextButton{
    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    width: calc(130/440 *100%);
    height: 100%;
}
.stageButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(350/440 * 100%);
    height: calc(50/956 * 100%);
    position: absolute;
    top: calc(870/956 *100%);
}
.shareButton{
   
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: calc(258/440 * 100%);
    height: calc(91/956 * 100%);
    background-color: transparent;
    border: none;
    position: absolute;
    top: calc(723/956 * 100%);
}
.info{
   
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: calc(360/440 *100%);
    height: calc(77/956 *100%);
    background-color: transparent;
    border: none;
    position: absolute;
    top: calc(835/956 * 100%);
}
.outfitBox{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
}
/*.outfitChosen{
    z-index: 2;
    position: relative;

}*/
.soccerChosen{
    width: calc(385/440 * 100%);
    height: calc(248/956 * 100%);
    position: absolute;
    top: calc(354/956 * 100%);
    left: calc(19/440 * 100%);
    z-index: 2;
}
.hockeyChosen{
    width: calc(403/440 * 100%);
    height: calc(253/956 * 100%);
    position: absolute;
    top: calc(346/956 * 100%);
    left: calc(17/440 *100%);
    z-index: 2;
}
.shoes1Chosen{
    width: calc(277/440 * 100%);
    height: calc(83/956 * 100%);
    position: absolute;
    top: calc(637/956 * 100%);
    left: calc(79/440 * 100%);
    z-index: 2;
}
.shoes2Chosen{
    width: calc(329/440 * 100%);
    height: calc(102/956 * 100%);
    z-index: 2;
    position: absolute;
    top: calc(617/956 * 100%);
    left: calc(53/440 * 100%);
}
.shoes3Chosen{
    width: calc(316/440 * 100%);
    height: calc(90/956 * 100%);
    z-index: 2;
    position: absolute;
    top: calc(629/956 *100%);
    left: calc(58/440 *100%);
}
.shoes4Chosen{
    width: calc(283/440 * 100%);
    height: calc(86/956 * 100%);
    z-index: 2;
    position: absolute;
    top: calc(622/956 *100%);
    left: calc(76/440 * 100%);
}
.head1Chosen{
    width: calc(256/440 * 100%);
    height: calc(183/956 * 100%);
    z-index: 2;
    position: absolute;
    top: calc(107/956 * 100%);
    left: calc(115/440 * 100%);
}
.head2Chosen{
    width: calc(233/440 * 100%);
    height: calc(95/956 * 100%);
    z-index: 2;
    position: absolute;
    top: calc(167/956 * 100%);
    left: calc(96/440 * 100%);
}
.head3Chosen{
    width: calc(212/440 * 100%);
    height: calc(141/956 * 100%);
    z-index: 2;
    position: absolute;
    top: calc(141/956 * 100%);
    left: calc(109/440 * 100%);
}
.head4Chosen{
    width: calc(262/440 * 100%);
    height: calc(159/956 * 100%);
    z-index: 2;
    position: absolute;
    top: calc(132/956 * 100%);
    left: calc(90/440 * 100%);
}
.eye1Chosen{
    width: calc(151/440 * 100%);
    height: calc(66/956 * 100%);
    z-index: 2;
    position: absolute;
    top: calc(287/956 * 100%);
    left: calc(143/440 * 100%);
}
.eye2Chosen{
    width: calc(218/440 * 100%);
    height: calc(68/956 * 100%);
    z-index: 2;
    position: absolute;
    top: calc(255/956 * 100%);
    left: calc(104/440 * 100%);
}
.eye3Chosen{
    width: calc(90/440 * 100%);
    height: calc(70/956 * 100%);
    z-index: 2;
    position: absolute;
    top: calc(274/956 * 100%);
    left: calc(234/440 * 100%);
}
.eye4Chosen{
    width: calc(68/440 * 100%);
    height: calc((64/956 * 100%));
    z-index: 2;
    position: absolute;
    top: calc(285/956 * 100%);
    left: calc(117/440 * 100%);
}
.userNameBox{
    height: calc(209/956 * 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0px;
    will-change: tranform;
    object-fit: contain;
}
.userName{
   

    max-width: 100%;

}