html, body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.page{
    aspect-ratio: 440/956;
    width: min(100vw, calc(956/440 *100vh));
    height: auto;
    max-width: 440px;
    max-height: 956px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    
}
.page0{
    background-image: url('../asset/dressingImages/page0.svg');
    background-size: cover;
    background-position: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.page1-4{
    background-image: url('../asset/dressingImages/page1-4.svg');
    background-size: cover;
    background-position: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.page5{
    background-image: url('../asset/dressingImages/page5.svg');
    background-size: cover;
    background-position: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.rio{
    background-image: url('../asset/dressingImages/rio.svg');
    width: 100%;
    height: calc(493/956 * 100%);
    position: absolute;
    top: calc(209/956 *100%);
    z-index: 1;
}
.enterNameDiv{
    background-image: url('../asset/dressingImages/enterName.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: calc(261/440 *100%);   
    height: calc(75/956 *100%);
    background-color: transparent;
    border: none;
    position: absolute;
    top: calc(663/956 *100%);
    outline: none;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    
}
.enterName{
    font-size: 20px;
    margin-left: calc(80/440 * 100%);
    height: calc(30/956 * 100%);
    width: calc(130/440 *100%);
    border-width: 0px;
    background-color: transparent;
    font-family: 'Romance';
    color: #d73e8a;
}
.startbutton{
    background-image: url('../asset/dressingImages/startbutton.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: calc(261/440 *100%);
    height: calc(92/956 *100%);
    background-color: transparent;
    border: none;
    position: absolute;
    top: calc(744/956 * 100%);
}
.dressButtons{
    display: flex;
    flex-direction: row;    
    background-size: cover;
    background-repeat: no-repeat;
    width: min;
    position: absolute;
    top: calc(730/956 *100%);
    background-color: transparent;
    border: none;
    outline: none;
    border-width: 0px;
    justify-content: space-evenly;
}
.options{   
    background-color: transparent;
    background-position: center;
    border-width: 0px;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.options img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}
.prevButton{
    background-image: url('../asset/dressingImages/prevButton.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    width: calc(100/440 *100%);
    height: 100%;
}
.nextButton{
    background-image: url('../asset/dressingImages/nextButton.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    width: calc(100/440 *100%);
    height: 100%;
}
.stageButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(350/440 * 100%);
    height: calc(30/956 * 100%);
    position: absolute;
    top: calc(900/956 *100%);
}
.shareButton{
    background-image: url('../asset/dressingImages/shareButton.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: calc(258/440 * 100%);
    height: calc(91/956 * 100%);
    background-color: transparent;
    border: none;
    position: absolute;
    top: calc(723/956 * 100%);
}
.info{
    background-image: url('../asset/dressingImages/info.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: calc(360/440 *100%);
    height: calc(77/956 *100%);
    background-color: transparent;
    border: none;
    position: absolute;
    top: calc(835/956 * 100%);
}
.outfitChosen{
    z-index: 2;
    position: relative;
}
.soccerChosen{
    position: absolute;
    top: calc(354/956 * 100%);
    left: calc(19/440 * 100%);
}
.hockeyChosen{
    position: absolute;
    top: calc(346/956 * 100%);
    left: calc(17/440 *100%);
}
.shoes1Chosen{
    position: absolute;
    top: calc(637/956 * 100%);
    left: calc(79/440 * 100%);
}
.shoes2Chosen{
    position: absolute;
    top: calc(617/956 * 100%);
    left: calc(53/440 * 100%);
}
.shoes3Chosen{
    position: absolute;
    top: calc(629/956 *100%);
    left: calc(58/440 *100%);
}
.shoes4Chosen{
    position: absolute;
    top: calc(622/956 *100%);
    left: calc(76/440 * 100%);
}
.head1Chosen{
    position: absolute;
    top: calc(107/956 * 100%);
    left: calc(115/440 * 100%);
}
.head2Chosen{
    position: absolute;
    top: calc(167/956 * 100%);
    left: calc(96/440 * 100%);
}
.head3Chosen{
    position: absolute;
    top: calc(141/956 * 100%);
    left: calc(109/440 * 100%);
}
.head4Chosen{
    position: absolute;
    top: calc(132/956 * 100%);
    left: calc(90/440 * 100%);
}
.eye1Chosen{
    position: absolute;
    top: calc(287/956 * 100%);
    left: calc(143/440 * 100%);
}
.eye2Chosen{
    position: absolute;
    top: calc(255/956 * 100%);
    left: calc(104/440 * 100%);
}
.eye3Chosen{
    position: absolute;
    top: calc(274/956 * 100%);
    left: calc(234/440 * 100%);
}
.eye4Chosen{
    position: absolute;
    top: calc(285/956 * 100%);
    left: calc(117/440 * 100%);
}
.userNameBox{
    height: calc(209/956 * 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0px;
}
.userName{
    max-width: 100%;
    width: 100%;
    white-space: nowrap;   
    font-family: 'Romance';
    color: #d73e8a;
    font-size: clamp(30px,2vw,40px);
    -webkit-text-stroke: 1.3px white;
}