body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input::placeholder {
  color: #ffffff; /* placeholder 텍스트 색상 */
}

@font-face {
  font-family: 'Fighting'; /* 사용할 폰트의 이름을 정의 */
  src: url('./asset/fonts/PeoplefirstFighting.otf'); /* 폰트 파일의 위치 */
  font-display: swap;
}

@font-face {
  font-family: 'Yangjin'; /* 사용할 폰트의 이름을 정의 */
  src: url('./asset/fonts/양진체v0.93.otf'); /* 폰트 파일의 위치 */
  font-display: swap;
}
@font-face {
  font-family: 'Romance';
  src: url('./asset/fonts/GumiRomance.otf');
  font-display: swap;
}

body {
  overflow: hidden;
}

.scrollDiv {
  scrollbar-width: none;          /* Firefox */
  -ms-overflow-style: none;       /* IE, Edge */

  /* 크롬, 사파리 등 Webkit 계열 */
}

.scrollDiv::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
